#wrapper {
    position: absolute;
    width: 500px;
    height: 500px;
    left: 30%;
    top: 20%;    
}

#buttonStart {
    font-size: 20px;
    font-weight: bold;
    color: white;
    background-color: aqua;
    text-align: center;
    padding: 15px 25px;
    margin-top: 5%;
}

#timeLeft {
    top: 0;
    right: 0;
    text-align: center;
    position: relative;
    font-weight: bold;
    color: white;
    font-size: 30px;
    background-color: aqua;
}

#questions {
    margin: 20px;
    text-align: center;
    font-weight: bold;
    color:black;
}

#submit{
    background-color: aqua;
    font-size: 30px;
    font-weight: center;
    text-align: center;
    color: white;
}

#main-title{
    text-align: center;
}

li {
    border-style: double;
    margin-top: 10px;
    font-weight: bold;
    text-align: left;
    width: 75%;
    color: black;
    position: relative;
}

#divEl{
    text-align: center;
    background-color: aqua;
    color: white;
}

input {
    width: 50;
    border-style: double;
    background-color: black;
}

#Submit {
    text-align: center;
    background-color: aqua;
    color: white;
}
